*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:"Poppins",sans-serif;
background:#F3F8FD;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#1976D2;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#EEF4FB;
}